<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/header_link %>
</head>

<body>


    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">

                <!-- <svg class="mr-2" width="51" height="51" viewBox="0 0 51 51" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M51 25.5C51 39.5833 39.5833 51 25.5 51C11.4167 51 0 39.5833 0 25.5C0 11.4167 11.4167 0 25.5 0C39.5833 0 51 11.4167 51 25.5Z"
                        fill="#F54748" />
                    <path
                        d="M28.8048 15.9553L29.536 18.684L22.5089 20.5669L23.6671 24.8894L29.0521 23.4465L29.7704 26.127L24.3853 27.5699L26.2941 34.6936L22.9134 35.5994L18.397 18.744L28.8048 15.9553Z"
                        fill="white" />
                </svg> -->
                GuwahatiCab
            </a>
            <div
                class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1
                        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Admin Login
                    </h1>
                    <form class="space-y-4 md:space-y-6" method="post" action="/admin/login">
                        <div>
                            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User Id</label>
                            <input type="text" name="username" id="username"
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="username" required="" value="admin">
                        </div>
                        <div>
                            <label for="password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                            <input type="password" name="password" id="password" placeholder="••••••••" value="admin@123"
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required="">
                        </div>
                        
                        <button type="submit"
                            class="w-full text-white bg-primary-600 hover:bg-[#F54720]  focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-[#F54720] dark:focus:ring-primary-800">Sign
                            in</button>

                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>